{% extends 'base_generic.html' %}

{% block content %}
    <div class="bg-white py-12">
        <div class="container mx-auto px-4">
            <section class="mb-12">
                <div class="container mx-auto px-4">
                    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
                        <div class="flex flex-col justify-between h-full">
                            <div class="flex flex-col align-self-center">
                                <h1 class="text-3xl font-bold text-gray-800 mb-6">О компании</h1>
                                <p class="text-gray-600 mb-8">
                                    Lorem ipsum dolor sit amet consectetur. Tristique risus elit commodo et enim mouris
                                    velit
                                    fincidunt tellus. Enim et nibh vulputate nisi diam dui faucibus in pesuere. Ai
                                    presenti amet vitae
                                    proin consequat sed erot aliquet phasellus. Bibendum nisi nisi vitae prosserit sed
                                    enim enim
                                    amet. Tellus in a fermentum turpis. Dus ut tortor id plateo facilisiamet aliquam
                                    urna amare.
                                    Eroi non suismod in enim eu leo tempor.
                                </p>
                            </div>

                            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                                <div class="bg-gray-100 p-4 rounded-lg">
                                    <h2 class="text-xl font-bold text-gray-800 mb-2">-500</h2>
                                    <p class="text-gray-600">Клиентов</p>
                                </div>
                                <div class="bg-gray-100 p-4 rounded-lg">
                                    <h2 class="text-xl font-bold text-gray-800 mb-2">0</h2>
                                    <p class="text-gray-600">Лет: на рынке</p>
                                </div>
                            </div>
                        </div>

                        <div class="flex items-center justify-center">
                            <img src="https://r19.fssp.gov.ru/storage/09812014-fdc3-45ad-9727-ec4638f24f8a/ssp-news/26894e20-1f62-4ce2-a7a5-cf5a97bae119/096ebde6-3cc2-4cf1-84a0-eea0f1149972.jpg"
                                 alt="О компании" class="rounded-lg shadow-md">
                        </div>
                    </div>
                </div>
            </section>

            <section>
                <h2 class="text-3xl font-bold text-gray-800 mb-6">Наши ценности</h2>
                <p class="text-gray-600 mb-8">
                    Lorem ipsum dolor sit amet consectetur. Quis lorem at nibh
                    tortor malesuada scelerisque solicitudin id. Ridiculus ultrices
                    porttitor eget aliquam vel pulvinar. Amet puius venenatis
                    nullam consequat sed. Facilia imperdiet erot sapien oenean
                    aliquet sit et porttitor nisi.
                </p>
                <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
                    <div class="bg-gray-100 p-6 rounded-lg">
                        <h3 class="text-xl font-bold text-gray-800 mb-4">Something</h3>
                        <p class="text-gray-600">
                            Lorem ipsum dolor sit amet consectetur. Quis lorem
                            at nibh tortor malesuada scelerisque solicitudin id.
                        </p>
                    </div>
                    <div class="bg-gray-100 p-6 rounded-lg">
                        <h3 class="text-xl font-bold text-gray-800 mb-4">Something</h3>
                        <p class="text-gray-600">
                            Lorem ipsum dolor sit amet consectetur. Quis lorem
                            at nibh tortor malesuada scelerisque solicitudin id.
                        </p>
                    </div>
                    <div class="bg-gray-100 p-6 rounded-lg">
                        <h3 class="text-xl font-bold text-gray-800 mb-4">Something</h3>
                        <p class="text-gray-600">
                            Lorem ipsum dolor sit amet consectetur. Quis lorem
                            at nibh tortor malesuada scelerisque solicitudin id.
                        </p>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}