<!-- templates/users/profile.html -->
{% extends 'base_generic.html' %}

{% block content %}
    <h2>Профиль пользователя</h2>

    <div>
        <h4>Имя пользователя:</h4>
        <p>{{ user.username }}</p>
    </div>

    <div>
        <h4>Ссылка на Telegram:</h4>
        <p>{{ user.tg_link }}</p>
    </div>

    <div>
        <h4>Номер телефона:</h4>
        <p>{{ user.tel_number }}</p>
    </div>

    <div>
        <h4>Дата регистрации:</h4>
        <p>{{ user.created_at }}</p>
    </div>

    <!-- Кнопка для перехода на страницу создания публикации -->
    <div>
        <a href="{% url 'create_listing' %}">
            <button>Добавить объявление</button>
        </a>
    </div>
{% endblock %}
