{% extends 'base_generic.html' %}

{% block content %}

    <div class="flex flex-col flex-grow justify-center bg-gray-50 py-8">

        <div class="max-w-2xl w-full bg-white p-8 rounded-lg shadow-lg mx-auto">

            <div class="text-center">

                <div class="w-32 h-32 mx-auto mb-4 overflow-hidden">
                    <div class="relative">
                        {% if user.avatar_base64 %}
                            <img src="data:image/jpeg;base64,{{ user.avatar_base64 }}" alt="Аватар"
                                 class="w-full h-full object-cover rounded-full">
                        {% else %}
                            <img src="https://static.vecteezy.com/system/resources/previews/036/594/092/large_2x/man-empty-avatar-photo-placeholder-for-social-networks-resumes-forums-and-dating-sites-male-and-female-no-photo-images-for-unfilled-user-profile-free-vector.jpg"
                                 alt="Аватар" class="w-full h-full object-cover rounded-full">
                        {% endif %}
                        <form method="post" enctype="multipart/form-data" class="absolute bottom-2 right-2">
                            {% csrf_token %}
                            <label for="avatar-upload" class="cursor-pointer bg-yellow-400 text-white p-2 rounded-full">
                                ✎
                            </label>
                            <input id="avatar-upload" type="file" name="avatar" class="hidden"
                                   onchange="this.form.submit()">
                        </form>
                    </div>
                </div>
                <h2 class="text-2xl font-semibold text-gray-900 mb-2">{{ user.username }}</h2>
                <p class="text-sm text-gray-500">Зарегистрирован: {{ user.created_at }}</p>
            </div>

            <div class="mt-8 bg-gray-50 p-6 rounded-lg">
                <h3 class="text-lg font-semibold text-gray-900 mb-4">Контактная информация</h3>
                <div class="space-y-3">
                    <div>
                        <h4 class="text-sm font-medium text-gray-600">Telegram:</h4>
                        <p class="mt-1 text-lg font-semibold text-gray-900">{{ user.tg_link }}</p>
                    </div>
                    <div>
                        <h4 class="text-sm font-medium text-gray-600">Номер телефона:</h4>
                        <p class="mt-1 text-lg font-semibold text-gray-900">{{ user.tel_number }}</p>
                    </div>
                </div>
            </div>

            <div class="mt-8 flex flex-col w-full items-center gap-4">
                <a href="{% url 'create_listing' %}"
                   class="w-full px-6 py-2 bg-yellow-400 text-white font-semibold rounded-md hover:bg-yellow-500 focus:outline-none focus:ring-2 focus:ring-yellow-400 transition text-center">Добавить
                    объявление</a>
                <a href="{% url 'my_listings' %}"
                   class="w-full px-6 py-2 bg-yellow-400 text-white font-semibold rounded-md hover:bg-yellow-500 focus:outline-none focus:ring-2 focus:ring-yellow-400 transition text-center">Мои
                    объявления</a>
                <a href="{% url 'my_favorites' %}"
                   class="w-full px-6 py-2 bg-yellow-400 text-white font-semibold rounded-md hover:bg-yellow-500 focus:outline-none focus:ring-2 focus:ring-yellow-400 transition text-center">Избранное</a>
                <a href="{% url 'my_chats' %}"
                   class="w-full px-6 py-2 bg-yellow-400 text-white font-semibold rounded-md hover:bg-yellow-500 focus:outline-none focus:ring-2 focus:ring-yellow-400 transition text-center">Мои
                    чаты</a>
            </div>
        </div>
    </div>
{% endblock %}