<!-- templates/register.html -->
{% extends 'base_generic.html' %}

{% block content %}
  <h2>Регистрация нового пользователя</h2>
  <form method="POST">
    {% csrf_token %}

    <div>
      <label for="username">Имя пользователя:</label>
      <input type="text" id="username" name="username" placeholder="Введите имя пользователя" required>
    </div>

    <div>
      <label for="tg_link">Ссылка на Telegram:</label>
      <input type="text" id="tg_link" name="tg_link" placeholder="Введите ссылку на Telegram" required>
    </div>

    <div>
      <label for="tel_number">Номер телефона:</label>
      <input type="text" id="tel_number" name="tel_number" placeholder="Введите номер телефона" required>
    </div>

    <div>
      <label for="password">Пароль:</label>
      <input type="password" id="password" name="password" placeholder="Введите пароль" required>
    </div>

    <div>
      <label for="confirm_password">Подтвердите пароль:</label>
      <input type="password" id="confirm_password" name="confirm_password" placeholder="Подтвердите пароль" required>
    </div>

    <div>
      <button type="submit">Зарегистрироваться</button>
    </div>
  </form>

  <p>Уже есть аккаунт? <a href="{% url 'login' %}">Войдите</a></p>
{% endblock %}
