{% extends 'base_generic.html' %}

{% block content %}
    <div class="flex space-x-4">
        <button class="py-2 px-4 bg-yellow-400 text-white font-semibold rounded-md hover:bg-yellow-500 focus:outline-none focus:ring-2 focus:ring-yellow-400 transition">
            <a href="{% url 'custom_admin:change_filters' %}" class="text-white no-underline">Поменять фильтры</a>
        </button>
        <button class="py-2 px-4 bg-yellow-400 text-white font-semibold rounded-md hover:bg-yellow-500 focus:outline-none focus:ring-2 focus:ring-yellow-400 transition">
            <a href="{% url 'custom_admin:set_roles' %}" class="text-white no-underline">Назначить роли</a>
        </button>
    </div>
{% endblock %}